{% extends 'base.html' %}

{% block topscripts %}
    <script>
    $(function() {
        $('button#calculate').bind('click', function() {
            $.getJSON('/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
                $('#result').text(data.result);
            });
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}
    <form>
        <input type="text" size="5" name="a"/> +
        <input type="text" size="5" name="b"/> =
        <span id="result">?</span>
        <br/><br/>
        <button onclick="javascript:void();" id="calculate">Calculate</button>
    </form>
{% endblock %}