{% extends 'base.html' %}

{% block topscripts %}
    <script>
    // Using jQuery
    $(function() {
        $('button#calculate').bind('click', function() {
            $.getJSON('/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
                $('#result').text(data.result);
            });
            return false;
        });
    });

    // Without using jQuery
    var xmlhttp;
    function getNum()
    {
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = callback;

        xmlhttp.open("GET", '/_random_number', true);
        xmlhttp.send();
    }

    // When information comes back from the server
    function callback()
    {
        console.log("Ready State: " + xmlhttp.readyState + "\nStatus: " + xmlhttp.status);
        if(xmlhttp.readyState == 4 && xmlhttp.status == 200)
        {
            document.getElementById('result2').innerHTML = xmlhttp.responseText;
        }
    }
    </script>
{% endblock %}

{% block content %}
    <form>
        <input type="text" size="5" name="a"/> +
        <input type="text" size="5" name="b"/> =
        <span id="result">?</span>

        <br/><br/>

        <button id="calculate">Calculate</button>
    </form>
    <br/><br/>

    <div id="result2"></div>
    <button onclick="getNum()">Get Random Number</button>
{% endblock %}